@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('NeoDunggeunmoPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('NeoDunggeunmoPro-Regular.ttf') format('truetype');
}

